<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <!-- <div *ngIf="!isData" style="text-align: center;">
        <img class="loader" src="assets/tenor.gif"/>
    </div> -->
    <div style="width:90%;">
        <canvas style="height:200px !important;" id="canvas"></canvas>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{item.payload.val().name}}</h2>
        <p>{{item.payload.val().email}}</p><br>
      </div><br>
      <p class="sub-heading">Personal Detail</p><br>
      <p>Reggistration No : {{item.payload.val().reggNo}}</p>
      <p>Batch : {{item.payload.val().batch}}</p>
      <p>Phone : {{item.payload.val().phone}}</p>
      <p>D.O.B : {{item.payload.val().dob}}</p>
      <p>Hobby : {{item.payload.val().hobby}}</p>
      <p>Aadhar Number : {{item.payload.val().uid}}</p>
      <p>Parent's Name : {{item.payload.val().pName}}</p>
      <p>Relation : {{item.payload.val().relation}}</p>
      <p>Parent's Phone : {{item.payload.val().pPhone}}</p>

      <br>
      <p class="sub-heading">Temporary Address</p><br>
      <p>{{item.payload.val().tAdd}}</p>
      <p>pin : {{item.payload.val().tPin}}</p>
      <br>
      <p class="sub-heading">Permanent Address</p><br>
      <p>{{item.payload.val().pAdd}}</p>
      <p>pin : {{item.payload.val().pPin}}</p>

      <br>
      <p class="sub-heading">10th detail</p><br>
      <p>Board : {{item.payload.val().tenthBoard}}</p>
      <p>School : {{item.payload.val().tenthSchool}}</p>
      <p>Total Marks : {{item.payload.val().tenthTotalMarks}}</p>
      <p>Obtained Marks : {{item.payload.val().tenthMarksObtained}}</p>

      
      <br>
      <p class="sub-heading">12th/Diploma detail</p><br>
      <p>Board : {{item.payload.val().twelthBoard}}</p>
      <p>School : {{item.payload.val().twelthSchool}}</p>
      <p>Total Marks : {{item.payload.val().twelthTotalMarks}}</p>
      <p>Obtained Marks : {{item.payload.val().twelthMarksObtained}}</p>

      <br>
      <p class="sub-heading">B.tech</p><br>
       <table>
         <tr>
           <th>1st</th>
           <th>2nd</th>
           <th>3rd</th>
           <th>4th</th>
           <th>5th</th>
           <th>6th</th>
           <th>7th</th>
           <th>8th</th>
         </tr>
         <tr>
           <td>{{item.payload.val().btech1st}}</td>
           <td>{{item.payload.val().btech2nd}}</td>
           <td>{{item.payload.val().btech3rd}}</td>
           <td>{{item.payload.val().btech4th}}</td>
           <td>{{item.payload.val().btech5th}}</td>
           <td>{{item.payload.val().btech6th}}</td>
           <td>{{item.payload.val().btech7th}}</td>
           <td>{{item.payload.val().btech8th}}</td>
         </tr>
       </table>

       <br>
       <p class="sub-heading">Additional Detail</p><br>
       <p>Skills : {{item.payload.val().skill}}</p>
       <p>Extra Course : {{item.payload.val().extraCourse}}</p>
       <p>Achievement : {{item.payload.val().achieve}}</p><br><br>
       

       <div class="footer">
         <button mat-flat-button color="primary">Edit</button>
         <!-- <button (click)="delete()" style="margin-left:10%;" mat-flat-button color="warn">Delete</button> -->
       </div>

    </div>
  </div>
</body>
</html>