<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
   <div class="container">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Filter Data
            </mat-panel-title>
          </mat-expansion-panel-header>
      
          <mat-form-field>
            <input matInput placeholder="Search By full Name" [(ngModel)]="searchTerm">
          </mat-form-field>

        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <div *ngIf="!isData" style="text-align: center;">
        <img class="loader" src="assets/tenor.gif"/>
    </div>
      <!-- <table *ngIf="isData">
          <tr>
            <th>Name</th>
            <th>Regg. No</th>
            <th>Batch</th>
            <th>E</th>
          </tr>
          <tr *ngFor="let faculty of facultyList">
            <td (click)="viewDetails(faculty.$key)">{{faculty.name}}</td>
            <td (click)="viewDetails(faculty.$key)">{{faculty.email}}</td>
            <td (click)="viewDetails(faculty.$key)">{{faculty.phone}}</td>
            <td><p (click)="edit(faculty)">&#9998;</p></td>
          </tr>
        </table> -->
        <mat-accordion *ngFor="let faculty of facultyList | facultyFilter:searchTerm">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{faculty.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
          
             <div>
               <p>Regg No : {{faculty.reggNo}}</p>
               <p>Phone : {{faculty.phone}}</p>
               <p>Qualification : {{faculty.degree}}</p>
             </div><br>
             <button (click)="viewDetails(faculty.$key)" mat-flat-button color="primary">Detail</button>
             <button (click)="edit(faculty)" mat-flat-button style="background-color: teal; color:white;">Edit</button>
             <button (click)="delete(faculty.$key)" mat-flat-button color="warn">Delete</button>
            </mat-expansion-panel>
          </mat-accordion>
          <br>
   </div>
</body>
</html>