<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
        <div class="container">
            <p class="login">Register</p>
               <form>
                    <mat-form-field>
                            <input matInput name="userName" [(ngModel)]="userName" type="text" placeholder="Enter your email"  required>
                            <mat-error>userName must be required</mat-error>
                          </mat-form-field>
                          <br>
                          <mat-form-field>
                                  <input matInput name="password"  [(ngModel)]="password" type="password" placeholder="Enter your password"  required>
                                  <mat-error>userName must be required</mat-error>
                          </mat-form-field>

                          <mat-form-field>
                              <input matInput name="confirmPassword"  [(ngModel)]="confirmPassword" type="password" placeholder="confirm your password"  required>
                              <mat-error>userName must be required</mat-error>
                         </mat-form-field>

                          <button mat-flat-button type="submit" (click)="signup()">Submit</button>
               </form>
        </div>
</body>
</html>