<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div>
    <form [formGroup]="this.studentService.form"  (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="$key"/>
        <mat-form-field>
            <input matInput formControlName="name" type="text" placeholder="Full name"  required>
            <mat-error>Full Name must be required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput formControlName="reggNo"  type="text" placeholder="Regg NO"  required>
            <mat-error>phone must be required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput formControlName="batch" type="number" placeholder="Batch"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput formControlName="branch" type="text" placeholder="Branch"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="email" type="text" placeholder="Email"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="phone" type="text" placeholder="Phone"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="dob" type="text" placeholder="D.O.B(DD-MM-YY)"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="hobby" type="text" placeholder="Hobby"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="uid" type="text" placeholder="Aadhar No."  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="pName" type="text" placeholder="Parent's Name"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="pPhone" type="text" placeholder="parent's Phone"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="relation" type="text" placeholder="Relation with given Parent's Detail"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="tAdd" type="text" placeholder="Temp. Address"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="tPin" type="text" placeholder="temp. Pin"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="pAdd" type="text" placeholder="permanent Address"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="pPin" type="text" placeholder="permanent Pin"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="tenthBoard" type="text" placeholder="10th Board Name"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="tenthSchool" type="text" placeholder="10th School Name"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="tenthTotalMarks" type="text" placeholder="10th Total Marks"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="tenthObtainedMarks" type="text" placeholder="10th Obtained Marks"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="twelthBoard" type="text" placeholder="12th Board Name"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>
        
        <mat-form-field>
            <input matInput formControlName="twelthSchool" type="text" placeholder="12th School Name"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="twelthTotalMarks" type="text" placeholder="12th Total Marks"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="twelthObtainedMarks" type="text" placeholder="12th Marks Obtained"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="btech1st" type="text" placeholder="B.tech 1st sem."  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="btech2nd" type="text" placeholder="B.tech 2nd sem."  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="btech3rd" type="text" placeholder="B.tech 3rd sem."  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="btech4th" type="text" placeholder="B.tech 4th sem."  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="btech5th" type="text" placeholder="B.tech 5th sem."  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="btech6th" type="text" placeholder="B.tech 6th sem."  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="btech7th" type="text" placeholder="B.tech 7th sem."  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="btech8th" type="text" placeholder="B.tech 8th sem."  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="skill" type="text" placeholder="Skill"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="extraCourse" type="text" placeholder="Extra Course"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="achieve" type="text" placeholder="Achievement"  required>
            <mat-error>userName must be required</mat-error>
        </mat-form-field>
        <br>

        

        

        <button mat-flat-button type="submit">submit</button>
    </form>
  </div>
</body>
</html>