<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div>
    <form [formGroup]="this.studentService.form"  (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="$key"/>
        <p class="sub-heading">Personal detail</p><br>
        <mat-form-field>
            <input matInput formControlName="name" type="text" placeholder="Full name"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
                <input matInput formControlName="gender" type="text" placeholder="Gender"  required>
                <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="reggNo"  type="text" placeholder="Regg NO"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput formControlName="batch" type="text" placeholder="Batch"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput formControlName="branch" type="text" placeholder="Branch"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="email" type="text" placeholder="Email"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="phone" type="text" placeholder="Phone"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="dob" type="text" placeholder="D.O.B(DD-MM-YY)"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="hobby" type="text" placeholder="Hobby"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="uid" type="text" placeholder="Aadhar No."  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <P class="sub-heading">Parent's Detail</P>

        <mat-form-field>
            <input matInput formControlName="pName" type="text" placeholder="Parent's Name"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="pPhone" type="text" placeholder="parent's Phone"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="relation" type="text" placeholder="Relation with given Parent's Detail"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <P class="sub-heading">Temprorary Address</P>

        <mat-form-field>
            <input matInput formControlName="tAdd" type="text" placeholder="Address"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="tPin" type="text" placeholder="Pin"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <p class="sub-heading">Permanent Address</p><br>

        <mat-form-field>
            <input matInput formControlName="pAdd" type="text" placeholder="permanent Address"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="pPin" type="text" placeholder="permanent Pin"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <p class="sub-heading">10th Detail</p><br>

        <mat-form-field>
            <input matInput formControlName="tenthBoard" type="text" placeholder="Board Name"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="tenthSchool" type="text" placeholder="School Name"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="tenthTotalMarks" type="text" placeholder="Total Marks"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="tenthObtainedMarks" type="text" placeholder="Obtained Marks"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <p class="sub-heading">12th/Diploma Detail</p><br>

        <mat-form-field>
            <input matInput formControlName="twelthBoard" type="text" placeholder="Board Name"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>
        
        <mat-form-field>
            <input matInput formControlName="twelthSchool" type="text" placeholder="Institute Name"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="twelthTotalMarks" type="text" placeholder="Total Marks"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="twelthObtainedMarks" type="text" placeholder="Marks Obtained"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <p class="sub-heading">B.tech Detail</p><br>

        <mat-form-field>
            <input matInput formControlName="btech1st" type="text" placeholder="B.tech 1st sem.">
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="btech2nd" type="text" placeholder="B.tech 2nd sem.">
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="btech3rd" type="text" placeholder="B.tech 3rd sem.">
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="btech4th" type="text" placeholder="B.tech 4th sem.">
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="btech5th" type="text" placeholder="B.tech 5th sem.">
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="btech6th" type="text" placeholder="B.tech 6th sem.">
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="btech7th" type="text" placeholder="B.tech 7th sem.">
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="btech8th" type="text" placeholder="B.tech 8th sem.">
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <p class="sub-heading">Extra Detail</p><br>

        <mat-form-field>
            <input matInput formControlName="skill" type="text" placeholder="Skill"  required>
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="extraCourse" type="text" placeholder="Extra Course">
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput formControlName="achieve" type="text" placeholder="Achievement" >
            <mat-error>this field is required</mat-error>
        </mat-form-field>
        <br>

        <button [disabled]="!this.studentService.form.valid" mat-raised-button color="primary" type="submit"><i *ngIf="submitted" class="fas fa-spinner fa-spin"></i>  submit</button>
    </form>
  </div>
</body>
</html>