body{
    font-family: Comic Sans MS;
}
.container
{
    padding:20px;
}
table
{
    width:100%;
    border-collapse: collapse;   
    box-shadow: 2px 2px 5px;;
}
th,td{
    text-align: left;
    padding: 7px;

}
th
{
    background-color:#eee;
}
tr
{
    border-bottom: 1px solid black;
}
tr:hover
{
    cursor: pointer;
}
.loader
{
    margin-top:100px;
    width:70px;
}
mat-form-field
{
    width:100% !important;
}