<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
   <div class="container">
      <div *ngIf="!isData" style="text-align: center;">
          <img class="loader" src="assets/tenor.gif"/>
      </div>
      <table *ngIf="isData">
          <tr>
            <th>Name</th>
            <th>Regg. No</th>
            <th>Batch</th>
          </tr>
          <tr *ngFor="let student of studentList">
            <td (click)="viewDetails(student.$key)">{{student.name}}</td>
            <td>{{student.reggNo}}</td>
            <td>{{student.batch}}</td>
            <td><button (click)="edit(student)">Edit</button></td>
          </tr>
        </table>
   </div>
</body>
</html>